.game-container{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: left;
    align-content: stretch;
    flex-wrap: wrap;
}

.hangman-container{
    width: 25vw;
    height: 75vh;
    margin-top: auto;
    margin-left: 5vw;
    margin-bottom: auto;
    background-color: white;
    padding: auto;
}

.hangman-container > .hangman-canvas {
    width: 25vw;
    height: 25vw;
}

.keyboard{
    background-color: white;
}

.keyboard > .keys {
    width: 90%;
    margin-left: 5%;
    height: 25%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.keyboard > .keys > .key {
    width: 3rem;
    height: 3rem;
    margin: 0.5vh;
    border-radius: .5rem;
    font-size: 2.5rem;
    text-align: center;
    padding: auto;
    font-weight: 900;
}

.word-status {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 45%;    
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}


.word-status > .char{
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-color: black;
    text-align: center;
    border-bottom: 5px solid black;
    margin: 0.5vh; 
    font-size: 2.5rem;
    text-align: center;
    padding: auto;
    font-family: "montserrat", sans-serif;
    font-weight: 900;
}

@media screen and (max-width: 900px) {
    .hangman-container {
        margin-bottom: 10vh;
        flex-grow: 1;
        margin-top: 5vh;
        height: 50vh !important;
        margin-right: 5vw;
    }

    .keyboard{
        flex-grow: 1;
        height: fit-content !important;
        margin-bottom: 5vh;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .keys{
        margin-top: 5vh;
        margin-bottom: 5vh;
        height: fit-content !important;
    }
}

@media screen and (min-width: 1000px) {

    .game-container{
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 1000px !important;
    }

    .keyboard-word-container{
        width: 600px !important;
        /* margin-right: 50px; */
    }

    .hangman-container{
        width: 250px !important;
        margin-right: 50px !important;
        margin-left: 50px !important;
    }
}

@media screen and (min-height: 600px) {
    .game-container{
        margin-top: auto;
        margin-bottom: auto;
        position: relative;
        height: 600px !important;
    }

    .hangman-container{
        height: 540px !important;
    }

    .keyboard-word-container{
        height: 600px !important;
    }

}

@media screen and (min-width: 900px) {
    
    .game-container{
        margin-bottom: auto;
        position: relative;
        flex-direction: row ;
        align-content: center;
        height: 100%;
        padding-top: 0vh;
    }

    .hangman-container {
        margin-right: 5vw;
        height: 90vh;
        position: relative;
        width: 25vw;
    }

    .word-status{
        float: right;
        width: auto ;
        margin-right: auto;
        margin-left: auto;
    }

    .keyboard{
        margin-bottom: 5vh;
        background-color: white;
    }
    
    .keys{
        margin-top: 5vh;
        margin-bottom: 5vh;
        height: fit-content !important;
    }

    .keyboard-word-container{
        display: flex;
        width: 60vw;
        flex-direction: column;
    }

}


@media screen and (max-width:556px) {
    .word-status > .char {
        width: 48px;
        height: 48px;
        font-size: 48px;
        margin: 8px;
    }

    .hangman-container{
        height: 275px !important
    }

    .keyboard{
        width: 90vw;
        height: 75vh;
        background-color: white;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    

}