.game-container{
    display: flex;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    justify-content: left;
    align-content: stretch;
    flex-wrap: wrap;
}

.hangman-container{
    width: 25vw;
    height: 75vh;
    margin-top: auto;
    margin-left: 5vw;
    margin-bottom: auto;
    background-color: white;
    padding: auto;
}

.hangman-container > .hangman-canvas {
    width: 25vw;
    height: 25vw;
}

.game-container > .keyboard{
    width: 70vw;
    height: 75vh;
    background-color: white;
    margin-left: 5vw;
    margin-right: 5vw;
}

.keyboard > .keys {
    width: 90%;
    margin-left: 5%;
    height: 25%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.keyboard > .keys > .key {
    width: 3rem;
    height: 3rem;
    margin: 0.5vh;
    border-radius: .5rem;
    font-size: 2.5rem;
    text-align: center;
    padding: auto;
    font-weight: 900;
}

.word-status {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 45%;    
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}


.word-status > .char{
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-color: black;
    text-align: center;
    border-bottom: 5px solid black;
    margin: 0.5vh; 
    font-size: 2.5rem;
    text-align: center;
    padding: auto;
    font-family: "montserrat", sans-serif;
    font-weight: 900;
}

@media screen and (max-width: 900px) {
    .hangman-container {
        margin-bottom: 10vh;
        flex-grow: 1;
        margin-top: 5vh;
        height: 50vh !important;
        margin-right: 5vw;
    }

    .keyboard{
        flex-grow: 1;
        height: fit-content !important;
        margin-bottom: 5vh;
    }
    .keys{
        margin-top: 5vh;
        margin-bottom: 5vh;
        height: fit-content !important;
    }
}

@media screen and (min-width: 900px) {
    
    .hangman-container {
        margin-bottom: 10vh;
        flex-grow: 2;
        margin-top: 5vh;
        height: 50vh !important;
        margin-right: 5vw;
    }

    .keyboard{
        flex-grow: 1;
        height: fit-content !important;
        margin-bottom: 5vh;
    }
    
    .keys{
        margin-top: 5vh;
        margin-bottom: 5vh;
        height: fit-content !important;
    }

}