@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body{
    margin: 0 !important;
    padding: 0 !important;
    width: 100vw;
    height: 100vh;
    background: rgb(106,13,255);
    background: radial-gradient(circle, rgba(106,13,255,1) 0%, rgba(166,110,255,1) 100%); 
}

@media screen and (max-height: 800px ) {
    body{
        height: 100vh;
    }
}
